#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Ajuster le max-width pour le conteneur */
@media (min-width: 1200px) {
  .MuiContainer-root {
      max-width: none !important; 
      padding: 1rem; 
  }
}

.h2{
  font-family: 'Montserrat', sans-serif; /* Police audacieuse */
  font-size: 4rem; /* Taille du texte */
  font-weight: 700; /* Gras */
  color: #8d8888; /* Couleur neutre */
  text-align: center; /* Centré */
  margin: 40px 0; /* Espacement */
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
  letter-spacing: 2px; /* Espacement entre les lettres */
}
