:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #2580aa;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-link {
  color: #007bff; /* Couleur par défaut */
  transition: background-color 0.3s, color 0.3s; /* Transition pour le changement de couleur */
  padding: 0.5rem 1rem; /* Ajustez le rembourrage selon vos besoins */
  border-radius: 0.25rem; /* Ajoutez un border-radius par défaut */
}

.nav-link:hover {
  background-color: rgba(0, 123, 255, 0.6); /* Couleur de surbrillance */
  color: #fff !important; /* Couleur du texte au survol */
  border-radius: 0.30rem; /* Assurez-vous que le border-radius est appliqué au survol */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html, body {
  height: 100%; /* Assurez-vous que le corps prend toute la hauteur de l'écran */
  margin: 0; /* Supprimez les marges par défaut */
}

#root {
  height: 100%; /* Assurez-vous que le conteneur racine prend toute la hauteur */
}

.navbar {
  height: 60px; /* Ajustez la hauteur de la navbar selon vos besoins */
}


.carousel-container {
  height: auto; /* Ajustez la hauteur selon vos besoins */
  width: 70%; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centre la div */
  overflow: hidden; /* Masque le débordement */
}

.image-wrapper {
  border-radius: 2rem; /* Appliquez le border-radius ici */
  overflow: hidden; /* Masque les parties de l'image qui dépassent */
  height: 100%; /* Assurez-vous que le wrapper prend toute la hauteur */
}

.carousel img {
  width: 100%; /* Assurez-vous que l'image prend toute la largeur */
  height: 100%; /* Assurez-vous que l'image prend toute la hauteur */
  object-fit: cover; /* Redimensionne l'image pour couvrir le conteneur */
}

