.roadbook {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
}
.tripsRoadbook{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}

.trip {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  max-width: 30%; 
  flex: 1 1 30%; 
  text-align: center;
  margin: 0.5rem;
  box-sizing: border-box; 
}

.trip-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.trip-title {
  font-size: 1.5em;
  margin: 8px 0;
}

.trip-dates {
  color: #555;
}

.trip-rating .star {
  color: #ccc;
  font-size: 1.2em;
}

.trip-rating .star.filled {
  color: #f39c12;
}

.modify-visit {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-trip-button-layout {
  width: 100%;
}

.add-trip-button {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  flex: 1 1 10%; 
  background-color: rgb(233, 240, 241);
  border-color: black;
}
.trip-image {
  transition: transform 0.3s ease; /* Transition douce pour le zoom */
}

.trip-image:hover {
  transform: scale(1.05); /* Zoom à 105% lors du survol */
}

.roadbook .responsive-card {
  width: 30%;
}
.css-ipzchf-MuiGrid2-root {
  display: flex;
justify-content: center;
}


@media (max-width: 1000px) {
  .roadbook .responsive-card{
    width: 100%;
    flex-direction: column;
    align-items: stretch; 
  }
  .tripsRoadbook{
  display: flex;
   flex-direction: column;
   width:100%;
    }

  .trip {
    max-width: 100%; 
    flex: 1 1 100%; 
    margin: 0.5rem 0; 
  }

  .add-trip-button {
    width: 100%;
    flex: 1 1 100%; 
    margin-bottom: 1rem;
  }
  /* .css-ipzchf-MuiGrid2-root {
    display: flex;
  justify-content: center;
  } */

 }

 .trip img {
  width: 100%; /* Prend toute la largeur de l'écran */
  height: auto; /* Ajuste la hauteur pour maintenir le rapport d'aspect */
  object-fit: contain; /* Couvre l'espace sans déformer l'image */
}