.roadbook {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px; /* Add space between items */
  align-items: center; /* Align items at the top */
}
.tripsRoadbook{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}

.trip {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  max-width: 30%; /* Set max-width to 30% */
  flex: 1 1 30%; /* Allow trip cards to take 30% of the container */
  text-align: center;
  margin: 0.5rem;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

.trip-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.trip-title {
  font-size: 1.5em;
  margin: 8px 0;
}

.trip-dates {
  color: #555;
}

.trip-rating .star {
  color: #ccc;
  font-size: 1.2em;
}

.trip-rating .star.filled {
  color: #f39c12;
}

.modify-visit {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.visits {
  display: flex;
  justify-content: center;
}

.add-trip-button {
  width: 10%; /* Ensure button takes up 10% of the width */
  min-width: 100px; /* Minimum width to ensure visibility */
  flex: 1 1 10%; /* Allow button to flex-grow and shrink */
}
.responsive-card {
  width: 30%;
}

/* Media query for screens 430px or smaller */
@media (max-width: 800px) {
  .roadbook {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to fill the width */
  }
  .tripsRoadbook{
  display: flex;
   flex-direction: column;
   width:100%;
    }

  .trip {
    max-width: 100%; /* Make cards full width */
    flex: 1 1 100%; /* Allow trip cards to take full width */
    margin: 0.5rem 0; /* Adjust margin for top and bottom */
  }

  .add-trip-button {
    width: 100%; /* Make the button full width */
    flex: 1 1 100%; /* Allow button to take full width */
    margin-bottom: 1rem; /* Add some space below the button */
  }
  .responsive-card {
    width: 100%; /* Ajustez cette valeur selon vos besoins */
  }
}